# Python envs
.venv/
.venv_test/

# Build artifacts
build/
dist/
*.egg-info/

# Python cache
__pycache__/
*.pyc


#
asm3model/
c_core/
c_sim/

#
notes.txt
setup.py
setup_build_ext.py
smoke_test_api.py
README_API.txt

# Docs build
docs/build/

# Private source folders
c_core/
cython/


# Keep documentation and legal files tracked
!docs/
!docs/**
!README.md
!LICENSE
!THIRD_PARTY_NOTICES.md

!.github/
!.github/**